<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body bgcolor="#00bfff">
<form action="login" method="POST">
    {% csrf_token %}
    <input type="text" name='first_name' placeholder="first_name"><br>
    <input type="text" name='lst_name' placeholder="last_name"><br>
    <input type="text" name='user_name' placeholder="User_name"><br>
    <input type="email" name='email' placeholder="email"><br>
    <input type="password" name='password1' placeholder="password1"><br>
    <input type="password" name='password2' placeholder="password2"><br>
    <input type="submit"><br>
</form>

</body>
</html>